*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin:0%
}


header{
    /* background-image: url("Pics/"); */
    background-color: blue;

}


nav {
    display: flex;
    border: 1px solid black;
    padding: 0;
}

#navbar {
    flex: 1;
    background-color: red;
    text-align: center;
    padding: 10px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in width calculation */
    margin:0%
}

#navbar:hover {
    background-color: black;
}



#aboutusImg{
    width: 600px;
    height: 500px;
    align-self: center;
    /*border-radius: 100px;*/
}

.box{
    border: 1px solid black;
    margin:5px;
}

.AboutUsBox{
    background-color: rgba(204, 82, 82, 0.3);
    
    margin: 10px;


}


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.flex-item{
    height: auto;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}

.form-item{
    height: min-content;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;

}

.inputRadio{
    font-weight: lighter;
    font-size:medium;
    width: auto;  
    height: min-content;
}


form input{
    height: 40px;
    width:450px;
}

textarea{
    height: 100px;
    width:450px;
}

.queryType{
    height: 45px;
    font-size:large;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
}

label{
    height: 80px;
    font-size:large;
    font-weight: bold;
}

.form-box{
    background-color: rgb(148, 153, 150,0.5);
    height: min-content;
    padding:2%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 250%;
}


.bottomHead{
    font-size: larger;
}

.BottomFlex-item{
    height: auto;
    margin: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.BottomFlex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
.split{
    padding: 10px;
    padding-right: 10px;
}

.split h3{
    padding: 10px;
    padding-right: 10px;
    font-size:45px;
}

.split p{
    padding: 10px;
    padding-right: 10px;
    font-size:25px;
}

  

.container{
    display: flex;
    border: 1px solid black;
    justify-content: space-around ;
}

.button{

    border: 1px solid black;

    font-size: large;
    border-radius: 15px;        
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header{
    margin: auto;
    width: fit-content;
}
.flex-cake{
    height: auto;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

.image-wrapper{
    display: inline-block;
    text-align: center;
}


#item-img{
    width: 150px;
    height: 150px;
}


.flex-img{
    width: 400px;
    height: 280px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.flex-img img{
    border-radius: 50%;
}
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


.item-display{
    height: 450px;
    width: 450px;
    margin: 10px;
    /* align-items: left;
    margin-right: 150px;
    margin-right:1px solid black; */
}

.item-values{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.vline{
    border-left: solid 1px black;
}

.allergens{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.allergens img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#allergen-img-item-display{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#allergen-div-item-display{
    width: 150px;
    height: 150px;
}


.cart-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    
} 


.cart-container img{
    width: 250px;
    height: 250px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;

}

.Cart-item-details{
    width:1000px;
    height:200px;
    padding-top: 50px;
}


.Cart-item-details p{
    font-size: large;
}


#counter button{
    width: 20px;
    height: 20px;
    /* align-items: center; */
}

#counter div{
    width: 20px;
    height: 20px;
}

#counter.flex-container{
    width: 20px;
    height: 20px;
    align-self: center;
}

/* 
.calculation{
    display: flex;

} */

.order-container{
    display: flex;
    justify-content: space-around;


}

.finaltotal{
    display: flex;
    justify-content: right;
}

.finaltotal p{
    padding: 0%;
    padding-left: 11%;
    padding-right: 11%;
    font-weight: bold;
}







